@font-face {
    font-family: "anta";
    src: url(font/Anta-Regular.ttf);
}


body{

    font-family: anta, Geneva, Tahoma, sans-serif;
    background-color: rgb(155, 155, 155);
    margin: 0px;
}

header{
    background-color: rgba(240, 248, 255, 0.712);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

nav{
    background-color: rgb(211, 204, 204);
    padding: 1px;
    
    
}

a{
    color: rgb(134, 81, 64);
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px ;
}
a:hover{
    color: rgb(70, 35, 19);
    transition: 0.4s all;
    font-weight: bold;
}

article > aside {
    color: rgb(22, 21, 21);
}

main{
    background-color: rgba(240, 248, 255, 0.836);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
footer{
    background-color: rgb(153, 96, 69);
    color: aliceblue;
    text-align: center;
    padding: 2px;
    margin: 0px;

}

footer > p{
    margin: 0px;
}