
exercicios/ex022/imagens/__MACOSX/._wallpaper006.jpg
exercicios/ex022/imagens/__MACOSX/._pattern004.png
exercicios/ex022/imagens/__MACOSX/._wallpaper001.jpg
exercicios/ex022/imagens/__MACOSX/._wallpaper002.jpg
exercicios/ex022/imagens/__MACOSX/._wallpaper004.jpg
exercicios/ex022/imagens/__MACOSX/._wallpaper005.jpg
exercicios/ex022/imagens/__MACOSX/._wallpaper006.jpg
