
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    color: #f7dac2;
    background-color: #520404f3;
    text-align: center;
}

#link {
    display: block;
}

#burguer {
    display: none;
}

#linkMobile {
    display: none;
}


li {
    list-style-type: none;
    display: inline-block;
    padding-bottom: 10px;

}

li > a{
    color: #f7dac2;
    text-decoration: none;
    display: block;
    padding: 10px;
}

li > a:hover{
    font-weight: 600;
}

main {
    width: 90vw;
    margin: auto;
    text-align: justify;
    margin-top: 10px;
}

article > h2 {
    color: #520404f3;
    text-decoration: 1px underline;
}

p {
    text-indent: 10px;
    padding: 10px 0px;
    
}


@media (max-width: 768px){

    header {
        align-items: center;
    }

    #link{
        display: none;
    }


    #burguer {
        display: block;
        margin: auto;
    }

    #burguer {
        color: #f7dac2;
        padding: 8px;
        margin-bottom: 5px;
    }
    
    #burguer:hover{
        background-color: #f7dac25e;
        color: #520404f3;  
        width: 50vw;
        border-radius: 2px;
        cursor: pointer; 
    }



}