.quadrado{
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: teal;
    width: 200px;
    height: 200px;
}

div#q1{
    background-color: steelblue;
}

div#q2{
    background-image: linear-gradient(to bottom, #ffd000, #ff5e00);
}

div#q3{
    background-image: url('./imagens/pattern003.png');

}