@charset "UTF-8";

:root {
    --blue: #0e3269;
    --green: #056055;
}

* {
    color: #fff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--green);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff23;
    width: 300px;
    border-radius: 30px;
    overflow: hidden;

    transition: width 0.5s, height 0.5s;
    transition-timing-function: linear;

}


.photo {
    background: var(--blue) url(../images/peoples.png);
    background-position: center center;
    height: 200px;
    display: block;   
}

.form h1{
    padding: 10px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 0px #000000be;
}
.form p{
    padding: 0px 0px 5px 0px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 0px #000000be;
}

.campo {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
    margin-bottom: 8px;
}

#ilogin, #ipassword {
    color: #000;
    width: 200px;
    padding: 8px;
    border-radius: 20px;
    border: 0 none;
    outline: 0 ;
}


#button_grid{
    margin-top: 25px;
    display: grid;
}

.button {
    background-color: #fff;
    color: var(--blue);
    font-weight: 600;
    width: 170px;
    padding: 8px;
    border-radius: 20px;
    border: 0 none;
    margin-bottom: 15px;   
}

.button:hover {
    background-color: #f0efef9a;
    cursor: pointer;
}

.campo > a {
    width: 100px;
    text-decoration: underline;  
    text-align: center;
    padding: 10px;
}

footer {
    display: none;
}


@media screen and (min-width: 768px) and (max-width: 1000px) {
    body {
        background-image: linear-gradient(to top, var(--green), var(--blue));
    }
    
    #login {
        width: 95vw;
        display: flex;
    }

    .photo {
        background-repeat: no-repeat;
        background-size: cover;
        width: 550px;
        height: 100%;
        position: absolute;
        margin-left: 460px;
    }

    .form {
        width: 55%;
        display: flex;
        position: relative;
        flex-direction: column;

    }

    #ilogin, #ipassword {
        width: 300px;
        border: none;
    }

    #button{
        margin-top: 20px; 
    }

    .button:hover {
        cursor: pointer;
        color: #fff;
        background-color: var(--green);
        transition: 0.3s;
    }

    a:hover {
        color: var(--blue);
        text-decoration: underline;
        font-weight: 600;
    }

    
    .icon:hover {
        transform: scale(1.1);
        transition-timing-function: linear;
}

}

@media screen and (min-width: 1000px) {
    body {
        background-image: linear-gradient(to top, var(--green), var(--blue));
    }

    #login {
        width: 880px;
        display: flex;
        margin: auto;
    }

    .photo {
        width: 400px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        position:  fixed;

    }

    .form {
        width: 92%;
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .form h1 {
        font-size: 2em;
    }

    .form p {
        font-size: 1.5em;
    }

    #ilogin, #ipassword {
        width: 350px;
        border: none;
    }

    #button{
        margin-top: 20px; 
    }

    .button:hover {
        cursor: pointer;
        color: #fff;
        background-color: var(--green);
        transition: 0.3s;
    }
    
    a:hover {
        color: var(--blue);
        text-decoration: underline;
        font-weight: 600;
    }
    
    .icon:hover {
        transform: scale(1.1);
        transition-timing-function: linear;
}
}

